*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none
    ;
    box-sizing: border-box;
}
.navbar-nav li {
    padding: 0 10px;
    /* background-color: orange; */
}
.navbar-nav li a{
    background-color: #4B70F5;
  border-radius: 5px;
  padding: 10px 20px !important;
  margin: 10px 0;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar-nav li a:hover{
    background-color: #4C3BCF;
    color: #fff;
    box-shadow: 0px 0px 10px #222;
    transition: 0.3s;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.carousel-item img{
    object-fit: cover;
    object-position: center;
    height: calc(100vh - 80px);
}
.carousel-caption{
    position: absolute;
    bottom: 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}